<%- include("parts/html-head")%>
    <%- include("parts/navbar")%>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">NAME</th>
                    <th scope="col">Last</th>

                </tr>
            </thead>
            <tbody>

                <tr>

                </tr>

            </tbody>
        </table>

        <%- include("parts/footer")%>
            <%- include("parts/html-foot")%>